#out_div, .out_panel {
    position:absolute;
    top:170px;
    width:900px;
    left:353px;
    font-size:16pt;
    line-height:24pt;
}
h3 {
    margin:0 0 10px;
    padding:0;
}
.label-1{
    display:inline-block;    
}
.label-2 {
    margin: 0 5px;    
    display:inline;
    font-size:12pt;
}
/*input[type=text] {
    font-size:14pt;
    margin:0;
}*/
.label-error{
    margin-left:5em;
    font-size:12pt;
    color:red;
}
/*gridview*/
.gridview {
    background-color: #fff;
    padding: 2px;
    margin: 2% auto;
    height: 35px;
}

    .gridview a {
        margin: auto 1%;
        /*border-radius: 50%;*/
        background-color: #444;
        padding: 5px 10px 5px 10px;
        color: #fff;
        text-decoration: none;
        -o-box-shadow: 1px 1px 1px #111;
        -moz-box-shadow: 1px 1px 1px #111;
        -webkit-box-shadow: 1px 1px 1px #111;
        box-shadow: 1px 1px 1px #111;
        height: 35px;
    }

        .gridview a:hover {
            background-color: #1e8d12;
            color: #fff;
            height: 35px;
        }

    .gridview span {
        background-color: PaleGoldenrod;
        color: #000;
        -o-box-shadow: 1px 1px 1px #111;
        -moz-box-shadow: 1px 1px 1px #111;
        -webkit-box-shadow: 1px 1px 1px #111;
        box-shadow: 1px 1px 1px #111;
        /*border-radius: 50%;*/
        padding: 5px 10px 5px 10px;
        height: 35px;
    }

   /* ModalPopupExtender */ 
     .modalBackground {
            background-color: gray;
            filter: alpha(opacity=80);
            opacity: 0.8;
        }

#tmpdiv {
    position: absolute;
    top: 170px;
    width: 900px;
    left: 353px;
    font-size: 16pt;
    /*line-height: 24pt;*/
}
        
  