
.W150H30-georgia20px{
    font-size:20px;
    font-family:Georgia;
    width:150px;
    height:30px;
}
.W180H30-georgia20px{
    font-size:20px;
    font-family:Georgia;
    width:180px;
    height:30px;
}



.W100H28-georgia18px{
    font-size:18px;
    font-family: Georgia;
    width:100px;
    height: 28px;
	}
.W140H28-georgia18px{
    font-size:18px;
    font-family: Georgia;
    width:140px;
    height:28px;
	}
.W160H28-georgia18px{
    font-size:18px;
    font-family:Georgia;
    width:160px;
    height:28px;
}

	
.Georgia18px{
    font-size:18px;
    font-family: Georgia;
}

.Georgia18pxV2{
    font-size:18px;
    font-family: Georgia;
}





