.W250_Georgia18px{
    font-size:18px;
    font-family: Georgia;
	width:250px;
}
.W50_Georgia18px{
    font-size:18px;
    font-family: Georgia;
	width:50px;
}
.W150_Georgia18px{
    font-size:18px;
    font-family: Georgia;
	width:150px;
}

