body  
{
		scrollbar-face-color: DBDBDB;
		scrollbar-shadow-color: DBDBDB;
		scrollbar-highlight-color: DBDBDB;
		scrollbar-3dlight-color: ffffff;
		scrollbar-darkshadow-color: 999999;
		scrollbar-track-color: f1f1f1;			
		scrollbar-arrow-color: 999999;
	}
	
html {/*樣式*/
 scrollbar-face-color: #e8f8b4;
 scrollbar-highlight-color: #e8f8b4;
 scrollbar-shadow-color: #e8f8b4;
 scrollbar-3dlight-color: #e8f8b4;
 scrollbar-arrow-color: #e8f8b4;
 scrollbar-track-color: #ffffcc;
 scrollbar-darkshadow-color: #e8f8b4
}

.marquee{
	font-family:arial;
	font-size:12px;
	color:#ffffff;
	letter-spacing:1px;
	padding-top:2px;
	padding-left:8px;
}

.time{
	font-family:arial;
	font-size:11px;
	color:#000000;
	padding-top:3px;

}

body,td,div         {font-family:arial;font-size:15px;
    }
.DocumentTopic      {font-size:16px;color:#ffeeaa;}
.TabLabel0          {padding:8px 3px 2px 2px;width:100%;height:26px;cursor:hand;}
.TabLabel1          {padding:7px 5px 3px 0px;width:100%;height:26px;cursor:default;}
.TabBody            {padding:8px 4px 2px 4px;width:100%;height:100%;cursor:default;line-height:18px;}
A.TabColor0:visited {text-decoration:none;color:#5080af;}
A.TabColor0:link    {text-decoration:none;color:#fefefe;}
A.TabColor0:hover   {text-decoration:none;color:#d2d2d2;}
A.TabColor1:visited {text-decoration:none;color:#0050f0;}
A.TabColor1:link    {text-decoration:none;color:#666666;}
A.TabColor1:hover   {text-decoration:none;color:#4E743B;}



.lowText { text-decoration: none; color: #000000; font: 12px Arial, Helvetica }
.highText { text-decoration: none; color: #FFFFFF; font: 12px Arial, Helvetica }
.itemBorder { border: 1px solid #999999}
.itemBorderBlank { border: 1px solid #CCCCDD }

.buttonText { text-decoration: none; color: #FFCC99; font: Bold 12px Arial, Helvetica }
.buttonHover { text-decoration: none; color: #99CCFF; font: Bold 12px Arial, Helvetica; padding: 1px }
.buttonBorder { border: 1px outset #339966 }
.buttonBorderOver { border: 1px inset #CC9966 }

.titlewd{
	font-family:arial;
	font-size:13px;
	color:#000000;

}

.fieldwd{
	font-family:Arial;
	font-size:12px;
	color:#000000;
    width: 6989%;
    height: 30px;
    margin-bottom: 0px;
}

.inpwd{
	font-family:arial;
	font-size:12Px;
	color:000000;
	border:1px groove;
	background-color:#ffffff;
}

.button1{
	font-family:arial;
	font-size:11px;
	color: #000000;
	padding-top:2px;
	background-color:transparent;
	border:0px;	
}

.noborder {
   FONT-SIZE:12px;
   FONT-FAMILY:arial;
   border:0;
   VERTICAL-ALIGN: bottom;
   TEXT-ALIGN: left;
   color:#FF0000;
   background-color:#efefef;
}

/*============== Label Start =============================*/
.label_Type {       /*6個中文字左右*/
	background:url(../images/icon_001.gif) 8px 1px no-repeat;
	*background:url(../images/icon_001.gif) 8px 5px no-repeat;
	white-space: nowrap;
	width:90px;
	float:left;	
	padding:0px 0 7px 24px;
	*padding:6px 0 7px 24px;
}


.label_Type2 {  /*4個中文字以內 黑色箭頭*/
     background:url(../images/icon_001.gif) 8px 1px no-repeat;
     *background:url(../images/icon_001.gif) 8px 5px no-repeat;
     white-space: nowrap;
     width:50px;
     float:left;     
     padding:0px 0 7px 24px;
     *padding:6px 0 7px 24px;
}

.label_Type2_Blue {  /*4個中文字以內 綠色箭頭*/
     background:url(../images/icon_004.gif) 8px 1px no-repeat;
     *background:url(../images/icon_004.gif) 8px 5px no-repeat;
     white-space: nowrap;
     width:50px;
     float:left;     
     padding:0px 0 7px 24px;
     *padding:6px 0 7px 24px;
}

.label_Type2_Red {  /*4個中文字以內 紅色箭頭*/
     background:url(../images/icon_003.gif) 8px 1px no-repeat;
     *background:url(../images/icon_003.gif) 8px 5px no-repeat;
     white-space: nowrap;
     width:50px;
     float:left;     
     padding:0px 0 7px 24px;
     *padding:6px 0 7px 24px;
}




.label_Type8 {      /*8個中文字以上*/
     background:url(../images/icon_001.gif) 8px 1px no-repeat;
     *background:url(../images/icon_001.gif) 8px 5px no-repeat;
     white-space: nowrap;
     width:120px;
     float:left;     
     padding:0px 0 7px 24px;
     *padding:6px 0 7px 24px;
}

.label_Type_Mark1 {  /*4個中文字以內 灰色Mark圖示*/
     background:url(../images/mark1.gif) 8px 1px no-repeat;
     *background:url(../images/mark1.gif) 8px 5px no-repeat;
     white-space: nowrap;
     width:50px;
     float:left;     
     padding:0px 0 7px 24px;
     *padding:6px 0 7px 24px;
}

.label_Type_Mark2 {  /*4個中文字以內 藍色Mark圖示*/
     background:url(../images/mark2.gif) 8px 1px no-repeat;
     *background:url(../images/mark2.gif) 8px 5px no-repeat;
     white-space: nowrap;
     width:50px;
     float:left;     
     padding:0px 0 7px 24px;
     *padding:6px 0 7px 24px;
}

/*============== Label End =======================*/



.checkbox_Type 
{
    background:url() 8px 1px no-repeat;
	white-space: nowrap;
	width:90px;
	float:left;	
	padding:0px 0 7px 24px;
	*padding:6px 0 7px 24px;
}


/************ GridView Related Styles ***********************/
.GridViewStyle 
{
	border-left:1px solid #ebebeb;
	border-top:1px solid #ebebeb;	
	border-bottom:1px solid #ebebeb;
	width:auto;
	background:#ffffff;
}

.GridViewStyle td, .GridViewStyle th
{
	white-space: nowrap;
	
	font-weight:normal;
	border-right:1px solid #e8f8b4;  /* 1px solid #d7d7d7;  */
	padding-top:3px
}

.GridHeaderStyle 
{
	white-space: nowrap;
	
	font-weight:normal;
	border-right:1px solid #e8f8b4;  /* 1px solid #d7d7d7;  */
	/*padding-top:3px*//*Judy upd for 2014/04/29, HeaderStyle與RowStyle的padding要一致，否則標題與內容的線條不會對齊*/
}


.GridRowStyle td
{
	border-right:1px solid #e8f8b4;  /* 1px solid #d7d7d7;  */
	/*padding:10px 6px 6px 6px;*//*Judy upd for 2014/04/29, HeaderStyle與RowStyle的padding要一致，否則標題與內容的線條不會對齊*/
}

.GridAlternatingStyle 
{
	background-color:#E4E4E4;
}

.GridAlternatingStyle td
{
	border-bottom:solid 1px white;
}

.GridSelectedRowStyle 
{
	background-color:#BBCCDC;
}

.GridEmptyDataRowStyle
{
	background-color:#e8f8b4;
	font-size:14px;
	color:#2F8F15;
	border-color:Black;
}

/************ Calendar ***********************/
.APCalendar .ajax__calendar_container {
border:1px solid #646464;
background-color:#DAEEFB; /*E3F3FD */
color: black;
width:280px; 
}

.APCalendar .ajax__calendar_body {
height:139px;
width:280px;
position:relative;
overflow:hidden;
margin:auto;}

